.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    color: var(--very-dark-gray);
  }

  &__arrows {
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:first-child {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}
