// @media (min-width: 950px) and (max-width: 1200px) {

// }

@media (max-width: 950px) {
  .order {
    min-width: 240px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 42px;
  }

  .logo {
    width: 140px;

    svg {
      width: 40px;
      height: 50px;
    }
  }

  .logo__text {
    font-size: 16px;
    line-height: 20px;
  }

  .footer__logo {
    width: 155px;
  }

  .footer__contacts-tel {
    font-size: 18px;
  }

  .footer__nav-link {
    font-size: 14px;
  }

  .header__profile {
    min-width: 100px;
  }

  .banner {
    padding-top: 50px;
  }

  .banner__descr {
    font-size: 20px;
  }

  .banner__left {
    max-width: 320px;
  }

  .banner__right {
    padding: 0;
    width: auto;
  }

  .nav__catalog-list {
    padding: 20px 10px;
  }

  .gift__inner {
    height: auto;
  }

  .gift__info {
    font-size: 20px;
    line-height: 24px;
  }

  .gift__title {
    font-size: 24px;
    line-height: 28px;
  }

  .checkout__form-address label:nth-child(even),
  .checkout__form-addressee label:nth-child(even) {
    margin-left: 0;
  }

  .cart__product-image {
    max-width: 220px;
  }

  .cart__product-image {
    min-width: 50px;
  }

  .cart__product-descr {
    margin-left: 5px;
  }

  .cart__product-title {
    line-height: 18px;
  }

  .cart__product-price {
    min-width: 60px;
    font-size: 16px;
    line-height: 20px;
  }

  .cart__price-old {
    font-size: 13px;}
}

@media (max-width: 576px) {
  .header__search {
    display: none;
  }

  .nav__catalog-list {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
  }

  .nav__catalog-item {
    width: 100px;
  }

  .gift__inner {
    flex-direction: column;
    padding: 0 15px;
  }

  .gift__info {
    padding: 15px 0;
    text-align: center;
  }

  .gift__img {
    display: flex;
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__map {
    margin-top: 20px;
    width: 100%;
  }

  .info__items {
    flex-direction: column;
  }

  .product {
    width: 100%;
    margin-bottom: 20px;
  }

  .product+.product {
    margin-left: 0;
  }

  .product__top {
    display: flex;
    justify-content: center;
  }

  .cart__inner {
    flex-direction: column;
  }

  .checkout__inner {
    flex-direction: column;
  }

  .order {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 100%;
  }

  .footer__logo {
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    p {
      width: 100%;
      margin-top: 10px;
    }
  }

  .footer__contacts {
    width: 100%;
    margin-top: 20px;
    align-items: center;
  }

  .footer__socials {
    width: 100%;
    justify-content: space-evenly;
  }
}


