.product {
  width: 235px;
  min-height: 360px;

  &__top {
    position: relative;
    height: 187px;
    margin-bottom: 16px;
  }

  &__status {
    position: absolute;
    z-index: 5;
    left: 0;
    border-radius: 20px;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color: var(--white-color);

    &--sale {
      background-color: var(--red-color);
    }

    &--new {
      background-color:var(--vivid-blue);
    }
  }

  &__new {
    position: absolute;
    left: 0;
  }

  &__favorites {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__info {
    margin-bottom: 16px;
    height: 100px;
  }



  &__add-cart {
    padding: 10px 18px;
    border-radius: 55px;
    background-color: var(--pure-yellow);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
}
