:root {
  --main-color: #00bfff;
  --white-color: #ffffff;
  --dark-grayish-blue: #7B8E98;
  --light-grayish-blue: #ECEFF1;
  --very-dark-gray: #1A1A1A;
  --vivid-orange: #FF8F27;
  --vivid-blue: #03a9f4;
  --red-color: #F44336;
  --pure-yellow: #FED700;
}

